{% extends 'base.html' %} {% load static %} {% block content %}
<!-- prettier-ignore-->
{% load crispy_forms_tags %}
<div class="container mt-5">
   <div class="row">
      <div class="col-12 col-md-4 text-center">
         {% if "placeholder" in about.profile_image.url %}
         <img
            src="{% static 'images/nobody.jpg' %}"
            class="profile-image"
            alt="placeholder image"
         />
         {% else %}
         <img
            src="{{about.profile_image.url}}"
            class="profile-image"
            alt="{{about.title}}"
         />
         {% endif %}
      </div>
      <div class="col-12 col-md-8">
         <h2>{{ about.title }}</h2>
         {{ about.content | safe }}
      </div>
   </div>
   <div class="row">
      <div class="col text-right">
         <!-- Updated on field goes in here -->

         <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
      </div>
   </div>
   <div class="row justify-content-center">
      <div class="col-12 col-md-6 my-5">
         <h2>Submit an anonymous post</h2>
         <p>We care about your privacy. Your experience may have varied over the course, and you may not want your name associated with your experience. If you want to submit an anonymous blog post, fill out the form and we will post what you've written (if appropriate!)</p>

         <!-- add your form here. Your submit button should 
                                have the classes of btn, btn-secondary -->
         <form method="post">
            {{ collab_form | crispy }} {% csrf_token %}
            <button type="submit" class="btn btn-secondary">Submit</button>
         </form>
      </div>
   </div>
</div>
{% endblock content %}
